# 0.0 Imports

In [1]:
import pandas as pd

## 0.1 Data Imports

In [11]:
train_raw = pd.read_csv('D:\\My Drive\\Pessoal\\Projetos\\credit_score_classification\\data\\raw\\train.csv', low_memory=False)
test = train.sample(frac=0.1)
indexes = test.index
df = train.drop(indexes, axis=0)
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good

## 0.2 Helper Functions

# 1.0 Data Description

In [8]:
df1 = df.copy()

## 1.1 Data Dimension

In [9]:
print(f'HÃ¡ no total {df1.shape[0]} linhas no dataset')
print(f'HÃ¡ no total {df1.shape[1]} colunas no dataset')

HÃ¡ no total 90000 linhas no dataset
HÃ¡ no total 28 colunas no dataset

## 1.2 Check Datatypes

In [10]:
df1.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

## 1.3 Check Na's

In [12]:
df1.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         8959
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       13520
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                10291
Delay_from_due_date             0
Num_of_Delayed_Payment       6276
Changed_Credit_Limit            0
Num_Credit_Inquiries         1784
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           8168
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4027
Payment_Behaviour               0
Monthly_Balance              1081
Credit_Score                    0
dtype: int64

## 1.4 Data Cleaning